.hero{
    position: relative;
    width: 100%;
    padding-top: 80px;
    overflow: hidden;
}

.hero-container{
    width: calc(100% - 80px);
    max-width: 1500px;
    min-height: calc(100svh - 120px);
    
    margin: 0 auto;

    display: flex;
    align-items: center;
}
.hero-content{
    width: 800px;
}
.hero-title{
    font-family: "Syne", sans-serif;
}
.hero-title span{
    font-size: clamp(56px, 6vw, 110px);;
    display: block;
}
.description{
    font-family: sans-serif;
    max-width: 500px;
    color: #888888    
}
#txt{
    font-family: "DM Mono", monospace;
    letter-spacing: 3px;
    color: #555555;
    font-size: 12px;
}

.hero-glow{
    filter: opacity(0.5);
    filter: blur(60px);
    position: absolute;
}

.hero-glow:nth-child(1){
    width: 650px;
    height: 800px;
    background: radial-gradient(
    ellipse,
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );
}
.hero-glow:nth-child(2){
    background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );
  width: 300px;
  height: 300px;
  top: 0px;;
  right: -50px;
}